(
.notdef,
NULL,
CR,
space,
candrabindugujr,
anusvaragujr,
visargagujr,
agujr,
aagujr,
igujr,
iigujr,
ugujr,
uugujr,
rvocalicgujr,
lvocalicgujr,
ecandragujr,
egujr,
aigujr,
ocandragujr,
ogujr,
augujr,
kagujr,
khagujr,
gagujr,
ghagujr,
ngagujr,
cagujr,
chagujr,
jagujr,
jhagujr,
nyagujr,
ttagujr,
tthagujr,
ddagujr,
ddhagujr,
nnagujr,
tagujr,
thagujr,
dagujr,
dhagujr,
nagujr,
pagujr,
phagujr,
bagujr,
bhagujr,
magujr,
yagujr,
ragujr,
lagujr,
llagujr,
vagujr,
shagujr,
ssagujr,
sagujr,
hagujr,
nuktagujr,
avagrahagujr,
aavowelsigngujr,
ivowelsigngujr,
iivowelsigngujr,
uvowelsigngujr,
uuvowelsigngujr,
rvocalicvowelsigngujr,
rrvocalicvowelsigngujr,
ecandravowelsigngujr,
evowelsigngujr,
aivowelsigngujr,
ocandravowelsigngujr,
ovowelsigngujr,
auvowelsigngujr,
viramagujr,
omgujr,
rrvocalicgujr,
llvocalicgujr,
lvocalicvowelsigngujr,
llvocalicvowelsigngujr,
zerogujr,
onegujr,
twogujr,
threegujr,
fourgujr,
fivegujr,
sixgujr,
sevengujr,
eightgujr,
ninegujr,
uni0AF0,
uni0AF1,
zhagujr,
uni0AFA,
uni0AFB,
uni0AFC,
uni0AFD,
uni0AFE,
uni0AFF,
kanuktagujr,
khanuktagujr,
ganuktagujr,
ghanuktagujr,
nganuktagujr,
canuktagujr,
chanuktagujr,
januktagujr,
jhanuktagujr,
nyanuktagujr,
ttanuktagujr,
tthanuktagujr,
ddanuktagujr,
ddhanuktagujr,
nnanuktagujr,
tanuktagujr,
thanuktagujr,
danuktagujr,
dhanuktagujr,
nanuktagujr,
panuktagujr,
phanuktagujr,
banuktagujr,
bhanuktagujr,
manuktagujr,
yanuktagujr,
ranuktagujr,
lanuktagujr,
llanuktagujr,
vanuktagujr,
shanuktagujr,
ssanuktagujr,
sanuktagujr,
hanuktagujr,
kassagujr,
janyagujr,
rephgujr,
vattugujr,
kaprehalfgujr,
khaprehalfgujr,
gaprehalfgujr,
ghaprehalfgujr,
ngaprehalfgujr,
caprehalfgujr,
chaprehalfgujr,
japrehalfgujr,
jhaprehalfgujr,
nyaprehalfgujr,
ttaprehalfgujr,
tthaprehalfgujr,
ddaprehalfgujr,
ddhaprehalfgujr,
nnaprehalfgujr,
taprehalfgujr,
thaprehalfgujr,
daprehalfgujr,
dhaprehalfgujr,
naprehalfgujr,
paprehalfgujr,
phaprehalfgujr,
baprehalfgujr,
bhaprehalfgujr,
maprehalfgujr,
yaprehalfgujr,
raprehalfgujr,
laprehalfgujr,
llaprehalfgujr,
vaprehalfgujr,
shaprehalfgujr,
ssaprehalfgujr,
saprehalfgujr,
haprehalfgujr,
zhaprehalfgujr,
kassaprehalfgujr,
janyaprehalfgujr,
kanuktaprehalfgujr,
khanuktaprehalfgujr,
ganuktaprehalfgujr,
ghanuktaprehalfgujr,
nganuktaprehalfgujr,
canuktaprehalfgujr,
chanuktaprehalfgujr,
januktaprehalfgujr,
jhanuktaprehalfgujr,
nyanuktaprehalfgujr,
ttanuktaprehalfgujr,
tthanuktaprehalfgujr,
ddanuktaprehalfgujr,
ddhanuktaprehalfgujr,
nnanuktaprehalfgujr,
tanuktaprehalfgujr,
thanuktaprehalfgujr,
danuktaprehalfgujr,
dhanuktaprehalfgujr,
nanuktaprehalfgujr,
panuktaprehalfgujr,
phanuktaprehalfgujr,
banuktaprehalfgujr,
bhanuktaprehalfgujr,
manuktaprehalfgujr,
yanuktaprehalfgujr,
ranuktaprehalfgujr,
lanuktaprehalfgujr,
llanuktaprehalfgujr,
vanuktaprehalfgujr,
shanuktaprehalfgujr,
ssanuktaprehalfgujr,
sanuktaprehalfgujr,
hanuktaprehalfgujr,
karagujr,
kharagujr,
garagujr,
gharagujr,
ngaragujr,
caragujr,
charagujr,
jaragujr,
jharagujr,
nyaragujr,
ttaragujr,
ttharagujr,
ddaragujr,
ddharagujr,
nnaragujr,
taragujr,
tharagujr,
daragujr,
dharagujr,
naragujr,
paragujr,
pharagujr,
baragujr,
bharagujr,
maragujr,
yaragujr,
raragujr,
laragujr,
llaragujr,
varagujr,
sharagujr,
ssaragujr,
saragujr,
haragujr,
zharagujr,
kassaragujr,
janyaragujr,
karanuktagujr,
kharanuktagujr,
garanuktagujr,
gharanuktagujr,
ngaranuktagujr,
caranuktagujr,
charanuktagujr,
jaranuktagujr,
jharanuktagujr,
nyaranuktagujr,
ttaranuktagujr,
ttharanuktagujr,
ddaranuktagujr,
ddharanuktagujr,
nnaranuktagujr,
taranuktagujr,
tharanuktagujr,
daranuktagujr,
dharanuktagujr,
naranuktagujr,
paranuktagujr,
pharanuktagujr,
baranuktagujr,
bharanuktagujr,
maranuktagujr,
yaranuktagujr,
raranuktagujr,
laranuktagujr,
llaranuktagujr,
varanuktagujr,
sharanuktagujr,
ssaranuktagujr,
saranuktagujr,
haranuktagujr,
karaprehalfgujr,
kharaprehalfgujr,
garaprehalfgujr,
gharaprehalfgujr,
ngaraprehalfgujr,
ngaraprehalfUIgujr,
caraprehalfgujr,
charaprehalfgujr,
charaprehalfUIgujr,
jaraprehalfgujr,
jharaprehalfgujr,
nyaraprehalfgujr,
ttaraprehalfgujr,
ttaraprehalfUIgujr,
ttharaprehalfgujr,
ttharaprehalfUIgujr,
ddaraprehalfgujr,
ddaraprehalfUIgujr,
ddharaprehalfgujr,
ddharaprehalfUIgujr,
nnaraprehalfgujr,
taraprehalfgujr,
tharaprehalfgujr,
daraprehalfgujr,
daraprehalfUIgujr,
dharaprehalfgujr,
naraprehalfgujr,
paraprehalfgujr,
pharaprehalfgujr,
baraprehalfgujr,
bharaprehalfgujr,
maraprehalfgujr,
yaraprehalfgujr,
raraprehalfgujr,
raraprehalfUIgujr,
laraprehalfgujr,
llaraprehalfgujr,
varaprehalfgujr,
sharaprehalfgujr,
ssaraprehalfgujr,
saraprehalfgujr,
haraprehalfgujr,
zharaprehalfgujr,
kassaraprehalfgujr,
janyaraprehalfgujr,
karanuktaprehalfgujr,
kharanuktaprehalfgujr,
garanuktaprehalfgujr,
gharanuktaprehalfgujr,
ngaranuktaprehalfgujr,
ngaranuktaprehalfUIgujr,
caranuktaprehalfgujr,
charanuktaprehalfgujr,
charanuktaprehalfUIgujr,
jaranuktaprehalfgujr,
jharanuktaprehalfgujr,
nyaranuktaprehalfgujr,
ttaranuktaprehalfgujr,
ttaranuktaprehalfUIgujr,
ttharanuktaprehalfgujr,
ttharanuktaprehalfUIgujr,
ddaranuktaprehalfgujr,
ddaranuktaprehalfUIgujr,
ddharanuktaprehalfgujr,
ddharanuktaprehalfUIgujr,
nnaranuktaprehalfgujr,
taranuktaprehalfgujr,
tharanuktaprehalfgujr,
daranuktaprehalfgujr,
dharanuktaprehalfgujr,
naranuktaprehalfgujr,
paranuktaprehalfgujr,
pharanuktaprehalfgujr,
baranuktaprehalfgujr,
bharanuktaprehalfgujr,
maranuktaprehalfgujr,
yaranuktaprehalfgujr,
raranuktaprehalfgujr,
raranuktaprehalfUIgujr,
laranuktaprehalfgujr,
llaranuktaprehalfgujr,
varanuktaprehalfgujr,
sharanuktaprehalfgujr,
ssaranuktaprehalfgujr,
saranuktaprehalfgujr,
haranuktaprehalfgujr,
kakagujr,
kayagujr,
ganagujr,
ngakagujr,
ngagagujr,
ngaghagujr,
ngamagujr,
ngayagujr,
chayagujr,
chavagujr,
jayagujr,
nyacagujr,
nyajagujr,
ttattagujr,
ttattaugujr,
ttattauugujr,
ttatthagujr,
ttatthauugujr,
ttayagujr,
ttavagujr,
tthatthagujr,
tthatthaugujr,
tthayagujr,
ddaddagujr,
ddaddaugujr,
ddaddhagujr,
ddayagujr,
ddhaddhagujr,
ddhayagujr,
tatagujr,
dagagujr,
daghagujr,
dadagujr,
dadhagujr,
danagujr,
dabagujr,
dabhagujr,
damagujr,
dayagujr,
davagujr,
nanagujr,
phayagujr,
llayagujr,
shacagujr,
shanagujr,
shalagujr,
shavagujr,
ssattagujr,
ssattaragujr,
ssatthagujr,
ssattharagujr,
sataragujr,
hannagujr,
hanagujr,
hamagujr,
hayagujr,
halagujr,
havagujr,
tatapreformgujr,
shapreformaltgujr,
ivowelsigndefaultgujr,
ivowelsignanusvaragujr,
ivowelsignrephgujr,
ivowelsignrephanusvaragujr,
iivowelsignanusvaragujr,
iivowelsignrephgujr,
iivowelsignrephanusvaragujr,
ecandravowelsignanusvaragujr,
ecandravowelsignrephgujr,
ecandravowelrephanusvaragujr,
evowelsignanusvaragujr,
evowelsignrephgujr,
evowelsignrephanusvaragujr,
aivowelsignanusvaragujr,
aivowelsignrephgujr,
aivowelsignrephanusvaragujr,
ocandravowelsignanusvaragujr,
ocandravowelsignrephgujr,
ocandravowelrephanusvaragujr,
ovowelsignanusvaragujr,
ovowelsignrephgujr,
ovowelsignrephanusvaragujr,
auvowelsignanusvaragujr,
auvowelsignrephgujr,
auvowelsignrephanusvaragujr,
rephanusvaragujr,
uanusvaragujr,
uuanusvaragujr,
ianusvaragujr,
iianusvaragujr,
ecandraanusvaragujr,
eanusvaragujr,
aianusvaragujr,
ocandraanusvaragujr,
oanusvaragujr,
auanusvaragujr,
jaaavowelgujr,
jaiivowelgujr,
nnauvowelgujr,
nnarauvowelgujr,
darvocalicvowelgujr,
rauvowelgujr,
rauuvowelgujr,
harvocalicvowelgujr,
phaaltgujr,
pharaaltgujr,
jaaavowelnuktagujr,
jaiivowelnuktagujr,
zhaaavowelgujr,
zhaiivowelgujr,
nnauvowelnuktagujr,
nnarauvowelnuktagujr,
darvocalicvowelnuktagujr,
rauvowelnuktagujr,
rauuvowelnuktagujr,
harvocalicvowelnuktagujr,
phanuktaaltgujr,
pharanuktaaltgujr,
khastemgujr,
gastemgujr,
ghastemgujr,
castemgujr,
nyastemgujr,
nnastemgujr,
tastemgujr,
thastemgujr,
dhastemgujr,
nastemgujr,
pastemgujr,
bastemgujr,
bhastemgujr,
mastemgujr,
yastemgujr,
lastemgujr,
llastemgujr,
vastemgujr,
shastemgujr,
ssastemgujr,
sastemgujr,
kassastemgujr,
janyastemgujr,
khanuktastemgujr,
ganuktastemgujr,
ghanuktastemgujr,
canuktastemgujr,
nyanuktastemgujr,
nnanuktastemgujr,
tanuktastemgujr,
thanuktastemgujr,
dhanuktastemgujr,
nanuktastemgujr,
panuktastemgujr,
banuktastemgujr,
bhanuktastemgujr,
manuktastemgujr,
yanuktastemgujr,
lanuktastemgujr,
llanuktastemgujr,
vanuktastemgujr,
shanuktastemgujr,
ssanuktastemgujr,
sanuktastemgujr,
kharastemgujr,
garastemgujr,
gharastemgujr,
carastemgujr,
nyarastemgujr,
nnarastemgujr,
tarastemgujr,
tharastemgujr,
dharastemgujr,
narastemgujr,
parastemgujr,
barastemgujr,
bharastemgujr,
marastemgujr,
yarastemgujr,
larastemgujr,
llarastemgujr,
varastemgujr,
sharastemgujr,
ssarastemgujr,
sarastemgujr,
harastemgujr,
kassarastemgujr,
janyarastemgujr,
kharanuktastemgujr,
garanuktastemgujr,
gharanuktastemgujr,
caranuktastemgujr,
nyaranuktastemgujr,
nnaranuktastemgujr,
taranuktastemgujr,
tharanuktastemgujr,
dharanuktastemgujr,
naranuktastemgujr,
paranuktastemgujr,
baranuktastemgujr,
bharanuktastemgujr,
maranuktastemgujr,
yaranuktastemgujr,
laranuktastemgujr,
llaranuktastemgujr,
varanuktastemgujr,
sharanuktastemgujr,
ssaranuktastemgujr,
saranuktastemgujr,
haranuktastemgujr,
kayastemgujr,
ganastemgujr,
ngayastemgujr,
chayastemgujr,
jayastemgujr,
nyacastemgujr,
nyajastemgujr,
ttayastemgujr,
ttavastemgujr,
tthayastemgujr,
ddayastemgujr,
ddhayastemgujr,
tatastemgujr,
damastemgujr,
dayastemgujr,
nanastemgujr,
phayastemgujr,
llayastemgujr,
shacastemgujr,
shanastemgujr,
shalastemgujr,
shavastemgujr,
satarastemgujr,
hannastemgujr,
hanastemgujr,
hamastemgujr,
hayastemgujr,
halastemgujr,
havastemgujr,
ngasquishgujr,
chasquishgujr,
jasquishgujr,
ttasquishgujr,
tthasquishgujr,
ddasquishgujr,
ddhasquishgujr,
zhasquishgujr,
dagasquishgujr,
daghasquishgujr,
dadasquishgujr,
dadhasquishgujr,
danasquishgujr,
darasquishgujr,
phasquishgujr,
pharasquishgujr,
phasquishaltgujr,
pharasquishaltgujr,
rasquishgujr,
nganuktasquishgujr,
chanuktasquishgujr,
januktasquishgujr,
ttanuktasquishgujr,
tthanuktasquishgujr,
ddanuktasquishgujr,
ddhanuktasquishgujr,
daranuktasquishgujr,
phanuktasquishgujr,
pharanuktasquishgujr,
phanuktasquishaltgujr,
pharanuktassquishaltgujr,
ranuktasquishgujr,
uvattugujr,
uvattulowgujr,
uvattunuktalowgujr,
uuvattugujr,
uuvattulowgujr,
uuvattunuktalowgujr,
rvocalicvattugujr,
rvocalicvattulowgujr,
rvocalicvattunuktalowgujr,
rrvocalicvattugujr,
lvocalicvattugujr,
vocalicvattugujr,
viramavattugujr,
viramavattulowgujr,
viramavattunuktalowgujr,
uvowelsignlowgujr,
uuvowelsignlowgujr,
rvocalicvowelsignlowgujr,
rrvocalicvowelsignlowgujr,
lvocalicvowelsignlowgujr,
llvocalicvowelsignlowgujr,
viramalowgujr,
nuktasmallgujr,
ivowelsign1gujr,
ivowelsign2gujr,
ivowelsign3gujr,
ivowelsign4gujr,
ivowelsign5gujr,
ivowelsign6gujr,
ivowelsignanusvara1gujr,
ivowelsignanusvara2gujr,
ivowelsignanusvara3gujr,
ivowelsignanusvara4gujr,
ivowelsignanusvara5gujr,
ivowelsignanusvara6gujr,
ivowelsignreph1gujr,
ivowelsignreph2gujr,
ivowelsignreph3gujr,
ivowelsignreph4gujr,
ivowelsignreph5gujr,
ivowelsignreph6gujr,
ivowelsignrephanusvara1gujr,
ivowelsignrephanusvara2gujr,
ivowelsignrephanusvara3gujr,
ivowelsignrephanusvara4gujr,
ivowelsignrephanusvara5gujr,
ivowelsignrephanusvara6gujr,
dummymarkgujr,
iivowelsign1gujr,
iivowelsign2gujr,
iivowelsignanusvara1gujr,
iivowelsignanusvara2gujr,
iivowelsignreph1gujr,
iivowelsignreph2gujr,
iivowelsignrephanusvara1gujr,
iivowelsignrephanusvara2gujr,
uvowelsignnuktagujr,
uuvowelsignnuktagujr,
rvocalicvowelsignnuktagujr,
rrvocalicvowelsignnuktagujr,
lvocalicvowelsignnuktagujr,
llvocalicvowelsignnuktagujr,
uvowelsignnuktaleftgujr,
uuvowelsignnuktaleftgujr,
rvocalicvowelsignnuktaleftgujr,
rrvocalicvowelsignnuktaleftgujr,
lvocalicvowelsignnuktaleftgujr,
llvocalicvowelsignnuktaleftgujr,
uvowelsignnarrowgujr,
uvowelsignnarrowlowgujr,
candrabinduleftgujr,
anusvaraleftgujr,
rephleftgujr,
rephanusvaraleftgujr,
viramanuktagujr,
kanuktauvowelgujr,
ddanuktauvowelgujr,
ddhanuktauvowelgujr,
phanuktauvowelgujr,
karanuktauvowelgujr,
pharanuktauvowelgujr,
kanuktauuvowelgujr,
ddanuktauuvowelgujr,
ddhanuktauuvowelgujr,
phanuktauuvowelgujr,
karanuktauuvowelgujr,
pharanuktauuvowelgujr,
exclam.gujr,
quotedbl.gujr,
numbersign.gujr,
percent.gujr,
quotesingle.gujr,
parenleft.gujr,
parenright.gujr,
asterisk.gujr,
plus.gujr,
comma.gujr,
hyphen.gujr,
period.gujr,
slash.gujr,
zero.gujr,
one.gujr,
two.gujr,
three.gujr,
four.gujr,
five.gujr,
six.gujr,
seven.gujr,
eight.gujr,
nine.gujr,
colon.gujr,
semicolon.gujr,
less.gujr,
equal.gujr,
greater.gujr,
question.gujr,
bracketleft.gujr,
backslash.gujr,
bracketright.gujr,
asciicircum.gujr,
underscore.gujr,
braceleft.gujr,
bar.gujr,
braceright.gujr,
asciitilde.gujr,
uni00A0.gujr,
sfthyphen.gujr,
endash.gujr,
emdash.gujr,
quoteleft.gujr,
quoteright.gujr,
quotedblleft.gujr,
quotedblright.gujr,
ellipsis.gujr,
multiply.gujr,
divide.gujr,
minus.gujr,
uni20B9.gujr,
uni0951,
uni0952,
danda.gujr,
dbldanda.gujr,
uniA830,
uniA831,
uniA832,
uniA833,
uniA834,
uniA835,
uniA836,
uniA837,
uniA838,
uniA839,
uni2010,
uni200B,
uni200C,
uni200D,
uni25CC,
khayagujr,
khayastemgujr,
badagujr,
vayagujr,
vayastemgujr,
sathagujr,
sathapreformgujr,
sathastemgujr,
napreformaltgujr,
papreformaltgujr,
mapreformaltgujr,
sapreformaltgujr,
uni0AFB_uni0AFA,
uni0AFD_uni0AFA,
uni0AFE_uni0AFA,
uni0AFF_uni0AFA,
uni0AFD_uni0AFB,
uni0AFE_uni0AFB,
uni0AFF_uni0AFB,
uni0AFA_rephgujr,
uni0AFD.alt,
uni0AFD_evowelgujr,
uni0AFD_aivowelgujr,
uni0AFD_ovowelgujr,
uni0AFD_auvowelgujr,
uni0AFD_uni0AFC,
uni0AFE_evowelgujr,
uni0AFE_aivowelgujr,
uni0AFF_evowelgujr,
uni0AFF_aivowelgujr,
uni0AFD_rephgujr,
uni0AFE_rephgujr,
uni0AFF_rephgujr,
uni0AFD_evowelgujr_rephgujr,
uni0AFD_aivowelgujr_rephgujr,
uni0AFE_evowelgujr_rephgujr,
uni0AFE_aivowelgujr_rephgujr,
uni0AFF_evowelgujr_rephgujr,
uni0AFF_aivowelgujr_rephgujr,
uni0AFD_ovowelgujr_rephgujr,
uni0AFD_auvowelgujr_rephgujr,
uuvowelsigngujr.alt,
uvowelsigngujr.alt
)